.section5
    height: 100vh
    background-color: #ffffff
    &-content
        display: flex
        flex-direction: column
        align-items: center
        padding-top: 100px
        .section5-title
            text-align: center
            font-size: 30px
            font-weight: bold
            span
                color: #FF8C22
                аfont-weight: bold

        p.section5-text
            text-align: center

        .cartochki
            margin-top: 100px
            display: flex
            flex-direction: column
            justify-content: center

        .cart1, .cart2
            display: flex
            justify-content: center

            .col1
                .content
                    border: 1px solid rgba(0, 0, 0, 0.11)
                    ul
                        list-style: none
                        li
                            display: flex
                            